@font-face {
  font-family: "FuturaStdLight";
  src: url("font/futurastd-light-webfont.eot");
  src: url("font/futurastd-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("font/futurastd-light-webfont.woff") format("woff"),
    url("font/futurastd-light-webfont.ttf") format("truetype"),
    url("font/futurastd-light-webfont.svg#FuturaStdLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
